.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  .nav {
    width: 100%;
    height: 60px;
    display: flex;
    color: #9c9c9c;

    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #c9d6de;
      .icon {
        font-size: 24px;
        .iconfont {
          font-size: 24px;
        }
      }
      span {
        font-size: 14px;
      }
      .add {
        height: 70px;
        margin-top: -28px;
        padding: 5px;
        font-size: 52px;
        border-radius: 50%;
        color: #2d3f56;
      }
    }
    .active {
      color: #2d3f56;
    }
  }
}
