.publish-dynamic-page {
  width: 100vw;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e2e2e2;
    .back {
      font-size: 20px;
    }
    .title {
      font-size: 16px;
    }
    .publish {
      .publish-btn {
        padding: 2px 12px;
        border-radius: 16px;
        background-color: #2d3f56;
        color: #fff;
        font-size: 14px;
      }
      .is-disabled {
        background-color: #e2e2e2;
        color: #000;
      }
    }
  }

  .content {
    .content-text {
      padding: 12px;
      background-color: #fff;
    }

    .content-img {
      padding: 10px;
      // .add {
      // }
      // .show-box {
      //   display: grid;
      //   grid-template-columns: repeat(3, 1fr);
      //   gap: 10px;
      //   padding: 10px;
      //   .img-item {
      //     width: 100%;
      //     aspect-ratio: 1 / 1;
      //     object-fit: cover;
      //     background-color: #e2e2e2;
      //   }
      // }
    }
  }
}
