.page-register {
  padding: 0 40px;
  .title {
    padding-top: 69px;
    color: #363c57;
    font-size: 30px;
  }
  .register-phone,
  .register-username,
  .register-password,
  .register-code {
    width: 100%;
    margin-top: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid #d0d0d0;
    padding: 11px 0;
  }

  .register-usermame {
    margin-top: 73px;
  }

  .register-code {
    display: flex;
    .code-img {
      width: 180px;
    }
  }

  .footer {
    margin: 35px 60px 0;
    .btn {
      width: 176px;
      display: block;
      color: #fff;
      text-align: center;
      padding: 0 23px;
      color: #fff;
      font-size: 16px;
      line-height: 40px;
      border-radius: 100px;
      white-space: nowrap;
      background-image: linear-gradient(-180deg, #9adaff, #61b3ff);
    }
    .other {
      margin-top: 12px;
      font-size: 12px;
      color: #c6c6c6;
      letter-spacing: 1.6px;
      text-align: center;
      line-height: 15px;
    }
  }
}
