.adm-image-uploader-upload-button {
  background-color: #fff !important;
  .adm-image-uploader-upload-button-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
